.header{
	align-items: center;
	background-color: silver;
	text-align: center;
}

.img{
  vertical-align: middle;
  position: relative; top: 20px;
}

.form {
  align-items: center;
  text-align: center;
  height: 180px;
  width: 300px;
  background-color:  lightgreen;
}

.header1{
	text-align: center;
	}
	.form2{
  align-items: center;
  height: 235px;
  width: 400px;
  background-color:  lightgreen;
	}
	label.f1{
        display: inline-block;
        width: 150px;
        text-align: right;
	}